<html>
	<head>
		<title>{{ title }} - User Management</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
			crossorigin="anonymous"
		/>
		<script
			type="text/javascript"
			src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
		></script>
	</head>
	<body>
		<div class="container">
			User Management:
			<a href="{{ url_for('index') }}">Home</a>
			{% if not session['logged_in'] %}
			<a href="{{ url_for('login') }}">Login</a>
			{% else %}
			<a href="{{ url_for('user') }}">Profile</a>
			{% if session['username'] == 'superadmin' %}
			<a href="{{ url_for('account') }}">Account</a>
			{% endif %}
			<a href="{{ url_for('logout') }}">Logout</a>
			{% endif %}
			<hr />
			{% with messages = get_flashed_messages() %} {% if messages %}
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %} {% endwith %} {% block content %}{% endblock %}
		</div>
	</body>
</html>
