{% extends "base.html" %}

{% block content %}
    <h1>OTP</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.otp_submit.label }}<br>
            {{ form.otp_submit(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}