{% extends "base.html" %} {% block content %}
<table>
	<tr valign="top">
		<td>
            <p>{{user['username']}}</p>
            <p>{{user['email']}}</p>
            <!-- <p>{{user['password']}}</p> -->
            <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
            <p>Hello</p>
		</td>
	</tr>
</table>

{% endblock %}