{% extends "base.html" %} {% block content %}
<ul>
	{% for user in users %} {% if user['status'] == 'active' %}
	<div id="{{ user['username'] }}">
		<li class="username" style="display: inline-block">{{user['username']}}</li>
		<button id="deleteUser" data-username="{{ user['username'] }}">X</button>
	</div>
	{% endif %} {% endfor %}
</ul>

<script type="text/javascript">
	let users = '{{ users }}'
	$('button#deleteUser').click(function(e) {
		console.log(e)
		var $target = e.target
		$.ajax({
			data: {
				name: $target.dataset.username
			},
			type: 'DELETE',
			url: '/account'
		}).success(function(data) {
			if (data.error) {
				$('#errorAlert')
					.text(data.error)
					.show()
				$('#successAlert').hide()
			} else {
				$('#' + $target.dataset.username).hide()
			}
		})
	})
</script>
{% endblock %}
